* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto";
}

body {
  width: 100%;
}

.iconNavigationAndPreview {
  background-color: #eeeff1;
  padding-top: 2%;
  padding-bottom: 10%;
}

#iconText {
  width: 100px;
  height: 60px;
  text-align: center;
  color: #34547a;
  font-size: 48px;
  line-height: 60px;
  font-family: "Revalia";
  margin-right: 30%;
}

.mainNavigationAndIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainNavigationAndIcon a {
  text-decoration: none;
  color: black;
  padding-right: 2%;
  font-size: 16px;
}

.preview {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: 10%;
}

.previewImage {
  background-image: url("comp.png");
  width: 355px;
  height: 235px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.previewText h1 {
  color: black;
  margin-bottom: 5%;
}

.previewText {
  width: 40%;
  color: #727272;
  margin-left: 12%;
}

.previewButton {
  width: 225px;
  height: 65px;
  margin-top: 7%;
}

.mainTitle {
  margin-top: 4%;
  margin-bottom: 4%;
}

.mainTitleTopic {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.mainTitleParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin-left: 27%;
  color: #727272;
  font-size: 16px;
  line-height: 26px;
}

.navigationProject {
  background-color: #34547a;
  color: white;
  display: flex;
  justify-content: center;
  padding: 5% 0 5% 0;
  margin-bottom: 5%;
}

.navigationProjectImage {
  background-image: url("Group.png");
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.navigationProjectText {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.avatarAndSkills {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.skills {
  margin-left: 2%;
  padding-top: 5%;
}

.skills h2 {
  padding-bottom: 8%;
}

#skillsWrapper {
  padding-top: 4%;
  padding-bottom: 4%;
}

#skillsTitle {
  margin-bottom: 1%;
  padding-top: 3%;
  font-size: 16px;
}

progress {
  width: 250%;
  height: 5px;
}

progress::-webkit-progress-value {
  background-color: #34547a;
}

progress::-webkit-progress-bar {
  background-color: white;
}

.avatarImage {
  background-image: url("avatar.jpg");
  width: 360px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 2%;
}

.videoAndText {
  display: flex;
  flex-direction: column;
}

.videoImage {
  background-image: url("forvideo.jpg");
  width: 50%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 3%;
  margin-left: 26%;
}

.overlayPlay {
  position: relative;
}

.overlayPlay:hover::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: url("playbutton.png") no-repeat center center;
}

.allImageWork {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1%;
  margin-top: 1%;
}

.overlayOko {

  position: relative;
}

.overlayOko:hover::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  opacity: 0.8;
  background: #345379 url("oko.png") no-repeat center center;
}

.upBlockImageWork {
  display: flex;
}

.downBlockImageWork {
  display: flex;
}

.imageWork {
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 2%;
}

.laptop {
  background-image: url("laptop.png");
  width: 33%;
}

.paper {
  background-image: url("paper.jpg");
  width: 33%;
}

.blockWithColor {
  background-color: #eeeff1;
  padding-top: 5%;
}

.inputsNameAndMail {
  display: flex;
  flex-flow: row;
  margin-left: 35%;
  margin-top: 5%;
}

#name {
  height: 45px;
}

#mail {
  margin-left: 4.5%;
  height: 45px;
}

#message {
  margin-top: 1%;
  margin-left: 35.1%;
  width: 30%;
  height: 150px;
  text-indent: 3%;
  padding-top: 1.3%;
}

#button {
  background-color: #34547a;
  color: white;
}

.buttonSend {
  width: 200px;
  height: 55px;
  margin-bottom: 4%;
  margin-left: 42%;
  margin-top: 3%;
}

.footer {
  background-color: #34547a;
  color: white;
  padding: 3%;
  display: flex;
  justify-content: space-around;
}

.footerAllImage {
  display: flex;
  align-items: center;
  margin-left: 4%;
}

.footerImage {
  background-image: url("vk.png");
  width: 45px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 2%;
  margin-left: 10%;
}
